services:
  customer-db:
    image: postgres:16-alpine
    container_name: customer-db
    env_file:
      - ./customer-service/.env
    ports:
      - "${CUSTOMER_DB_PORT}:5432"
    volumes:
      - customer_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network
    restart: unless-stopped

  product-db:
    image: postgres:16-alpine
    container_name: product-db
    env_file:
      - ./product-service/.env
    ports:
      - "${PRODUCT_DB_PORT}:5432"
    volumes:
      - product_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network
    restart: unless-stopped

  order-db:
    image: postgres:16-alpine
    container_name: order-db
    env_file:
      - ./order-service/.env
    ports:
      - "${ORDER_DB_PORT}:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network
    restart: unless-stopped

  notification-db:
    image: postgres:16-alpine
    container_name: notification-db
    env_file:
      - ./notification-service/.env
    ports:
      - "${NOTIFICATION_DB_PORT}:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network
    restart: unless-stopped

  payment-db:
    image: postgres:16-alpine
    container_name: payment-db
    env_file:
      - ./payment-service/.env
    ports:
      - "${PAYMENT_DB_PORT}:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network
    restart: unless-stopped

  
  customer-service:
    build:
      context: .
      dockerfile: ./customer-service/Dockerfile
    container_name: customer-service
    env_file:
      - ./customer-service/.env
    ports:
      - "${CUSTOMER_SERVICE_PORT}:8081"
    depends_on:
      customer-db:
        condition: service_healthy
    networks:
      - microservices-network
    restart: unless-stopped

  product-service:
    build:
      context: .
      dockerfile: ./product-service/Dockerfile
    container_name: product-service
    env_file:
      - ./product-service/.env
    ports:
      - "${PRODUCT_SERVICE_PORT}:8081"
    depends_on:
      product-db:
        condition: service_healthy
    networks:
      - microservices-network
    restart: unless-stopped

  order-service:
    build:
      context: .
      dockerfile: ./order-service/Dockerfile
    container_name: order-service
    env_file:
      - ./order-service/.env
    ports:
      - "${ORDER_SERVICE_PORT}:8081"
    depends_on:
      order-db:
        condition: service_healthy
    networks:
      - microservices-network
    restart: unless-stopped
    
  payment-service:
    build:
      context: .
      dockerfile: ./payment-service/Dockerfile
    container_name: payment-service
    env_file:
      - ./payment-service/.env
    ports:
      - "${PAYMENT_SERVICE_PORT}:8081"
    depends_on:
      order-db:
        condition: service_healthy
    networks:
      - microservices-network
    restart: unless-stopped

volumes:
  customer_db_data:
  product_db_data:
  order_db_data:
  payment_db_data:
  notification_db_data:

networks:
  microservices-network:
    driver: bridge